config.py
./__pycache__
__pycache__/
config_template.py
venv/
logs/
memory.db
.DS_Store
client/.DS_Store
client/__pycache__/
client/logs/
client/pingping_animation_org.gif
client/pingping_animation_scaled.gif
client/pingping_static_v2.png
client/pingping_static_v3.gif
client/prepare_ssml_for_google_tts.py
client/real_time_voice_listener.py
dependecies
server/__pycache__/
server/chat_manager.py.bak
server/gctts_key.json
server/memory.db
server/memory.db.bak
server/usage_log.jsonl
server/voice_profiles/
system-prompt.txt
usage_log.jsonl
test/
usage_log.json

